.yk-tooltip {
  width: fit-content;
  &__trigger {
    width: fit-content;
  }
  &__popper {
    background: #303133;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    word-wrap: break-word;
  }
  #arrow {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #303133;
  }
  [data-popper-placement='top'] {
    z-index: 200;
    .yk-tooltip__popper {
      margin-bottom: 0.7143rem;
    }
    #arrow {
      border-color: transparent;
      border-top-color: #303133;
      bottom: 2px;
    }
  }
  [data-popper-placement='bottom'] {
    z-index: 200;
    .yk-tooltip__popper {
      margin-top: 0.7143rem;
    }
    #arrow {
      border-color: transparent;
      border-bottom-color: #303133;
      top: 2px;
    }
  }
}
