.yk-icon {
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  vertical-align: middle;


  @each $val in primary, info, success, warning, danger {
    &.yk-icon--#{$val} {

      color: var(--yk-color-#{$val});
    }
  }
}