.yk-slider-button__wrapper {
  height: 36px;
  width: 36px;
  position: absolute;
  z-index: 1001;
  top: -15px;
  transform: translateX(-50%);
  background-color: transparent;
  text-align: center;
  user-select: none;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  .yk-slider__button{
    width: 16px;
    height: 16px;
    border: 2px solid #409eff;
    background-color: #fff;
    border-radius: 50%;
    transition: .2s;
    user-select: none;
  }
}