.yk-tooltip {
  width: fit-content;
  &__trigger {
    width: fit-content;
  }
  &__popper {
    background: #303133;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    word-wrap: break-word;
  }
  #arrow {
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #303133;
  }
}
