.yk-tooltip {
  width: fit-content;
  &__trigger {
    width: fit-content;
  }
  &__popper {
    background: #303133;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 12px;
    line-height: 1.2;
    min-width: 10px;
    word-wrap: break-word;
  }
}
.yk-tooltip__arrow {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #303133;
}
.yk-tooltip__popper {
  transition: opacity 0.3s;
}
.yk-tooltip__popper[data-popper-placement^='top'] {
  margin-bottom: 12px !important;
  .yk-tooltip__arrow {
    top: 100%;
  }
}

.yk-tooltip__popper[data-popper-placement^='bottom'] {
  margin-top: 12px !important;
  .yk-tooltip__arrow {
    border-color: transparent;
    border-bottom-color: #303133;
    top: -10px;
  }
}

.yk-tooltip__popper[data-popper-placement^='right'] {
  margin-left: 12px !important;
  .yk-tooltip__arrow {
    border-color: transparent;
    border-right-color: #303133;
    left: -10px;
  }
}

.yk-tooltip__popper[data-popper-placement^='left'] {
  margin-right: 12px !important;
  .yk-tooltip__arrow {
    border-color: transparent;
    border-left-color: #303133;
    right: -10px;
  }
}

.fade-up-enter-from {
  opacity: 0;
}
.fade-up-leave-to {
  opacity: 0;
}
