.main {
  position: relative;
  width: fit-content;
}

.content {
  width: 100px;
  box-sizing: border-box;
  margin-bottom: 12px;
  background: #fff;
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  padding: 12px;
  color: #606266;
  line-height: 1.4;
  text-align: justify;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  word-break: break-all;
  box-sizing: border-box;
}

.content[x-placement^='bottom'] {
  margin-top: 12px;
}

.content[x-placement^='right'] {
  margin-left: 12px;
}

.content[x-placement^='left'] {
  margin-right: 12px;
}

.arrow {
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
}

.arrow[x-placement^='top'] {
  bottom: 8px;
  border-top-color: #fff;
  border-bottom-width: 0;
}

.arrow[x-placement^='bottom'] {
  border-bottom-color: #fff;
  border-top-width: 0;
  top: 8px;
}

.arrow[x-placement^='right'] {
  border-right-color: #fff;
  border-left-width: 0;
  left: 8px;
}

.arrow[x-placement^='left'] {
  border-left-color: #fff;
  border-right-width: 0;
  right: 8px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
