.yk-button--loading {
  opacity: 0.7 !important;
}
.yk-button--loading svg {
  margin-right: 4px;
  width: 16px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}
.yk-button--loading circle {
  fill: none;
  stroke: #dee0e7;
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}
@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
.yk-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  white-space: nowrap;
  color: #000;
  border: 1px solid #dcdfe6;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: relative;
}
.yk-button .circle {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-width: 2px;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: rgba(0, 0, 0, 0);
  border-style: solid;
  left: 2px;
  animation: rotate 0.9s linear infinite;
}

$yk-button-type: (
  primary: (
    bgcolor: #419eff,
    borderColor: #419eff,
    color: #fff,
  ),
  success: (
    bgcolor: #67c23a,
    borderColor: #67c23a,
    color: #fff,
  ),
  info: (
    bgcolor: #a6a9ad,
    borderColor: #909399,
    color: #fff,
  ),
  warning: (
    bgcolor: #ebb563,
    borderColor: #ebb563,
    color: #fff,
  ),
  danger: (
    bgcolor: #f56c6c,
    borderColor: #f56c6c,
    color: #fff,
  ),
);
@each $type, $map in $yk-button-type {
  .yk-button--#{$type} {
    background-color: map-get($map, bgcolor);
    border-color: map-get($map, borderColor);
    color: map-get($map, color);
    &:hover {
      background-color: lighten($color: map-get($map, bgcolor), $amount: 10%);
      border-color: lighten($color: map-get($map, borderColor), $amount: 10%);
    }
    &:disabled {
      background-color: lighten($color: map-get($map, bgcolor), $amount: 20%);
      border-color: lighten($color: map-get($map, borderColor), $amount: 20%);
    }
  }
}

.yk-button--s {
  padding: 0px 12px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 4px;
}
.yk-button--m {
  padding: 0px 16px;
  min-width: 32px;
  height: 32px;
  border-radius: 4px;
  font-size: 12px;
}
.yk-button--l {
  padding: 0px 18px;
  min-width: 36px;
  height: 36px;
  border-radius: 8px;
}
.yk-button--xl {
  padding: 0px 24px;
  min-width: 48px;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
}
.yk-button--long {
  display: block;
  width: 100%;
}

.yk-button--round {
  border-radius: 800px;
}

.yk-button--circle {
  padding: 0;
  border-radius: 800px;
}

.yk-button--square {
  border-radius: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
